@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,500&family=Playfair+Display:ital,wght@0,700;1,400&display=swap');



/* universal selectors */

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* custom properties */
:root {
    /* primary-colors */
    --blck:#000;
    --light-gry:#333;

    /* accent colors */
    --ylw:#f2994a;
}

/* typography */

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 63.98px;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 31.99px;
}

h3 {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    line-height: 23.99px;
    font-weight: 400;
    font-style: italic;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    border-radius: 12px;
}

.container {
    width: 1440px;
    padding: 46px 237px 15px;
    margin: 0 auto;
}

.header__text {
    display: flex;
    align-items: start;
    margin-top: 12px;
}

.header__text img {
    padding-top: 5px;
    padding-right: 10px;
}

.header__desc {
    font-family: 'Montserrat', sans-serif;
    width: 592px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17.07px;
    font-style: italic;
}

.header .intro__pic {
    margin: 43px 0 48px;
}

.main {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.ingredients {
    width: 60%;
}

.sub-title {
    margin-bottom: 32px;
}

.sub--title {
    margin-bottom: 32px;
}

.mid {
    margin-top: 31px;
}

.box {
    width: 21px;
    height: 21px;
    outline: none;
    border: 1px solid #828282;
    border-radius: 4px;
    margin-right: 17px;
    padding: 10px;
}

.group__box {
    display: flex;
}

.txt {
    line-height: 25px;
    font-weight: 400;
    font-size: 16px;
}

.one .group__box:not(:first-child),
.two .group__box {
    margin-bottom: 13px;
}

.noms {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2px 13px 6px;
    border: 0;
    outline: none;
    background: var(--ylw);
    height: 36px;
    width: 36px;
    color: #fff;
    font-size: 24px;
    /* line-height: 32px; */
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    border-radius: 6px;
    margin-right: 17px;
}


.group__noms {
    display: flex;
}

.three .group__noms:not(:first-child) {
    margin-top: 40px;
}

.main__icons {
    width: 30%;
    padding: 43px;
    margin-top: 20px;
    /* display: flex;
    flex-direction: column; */
}

.icon {
    display: flex;
    align-items: center;
}

.main__icons .icon:not(:last-child) {
    margin-bottom: 35px;
}

i {
    font-size: 30px;
    font-weight: 400;
    margin-right: 10px;
}

.fas {
    color: var(--ylw);
}

.far {
    color: #4f4f4f;
}

.yellow {
    color: var(--ylw)!important;
}

.tag__one {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 12.19px;
    color: #bdbdbd;
}

.tag__two {
    font-size: 14px;
    line-height: 17.07px;
    font-weight: 500;
    color: #333;
}

footer {
    width: 100%;
    margin: 0 auto;
}

footer p {
    text-align: center;
    font-size: 10px;
}

footer p:first-child {
    margin: 56px 0 41px;
}

/* media queries */

@media only screen and (max-width: 700px) {

    h1{
        font-size: 24px;
        line-height: 31.99px;
    }

    h2 {
        font-size: 18px;
        line-height: 23.99px;
    }

    h3 {
        font-size: 16px!important;
        line-height: 21.33px!important;
    }

    .txt {
        font-size: 14px!important;
    }

    .container {
        padding: 32px 12px 10px; 
        max-width: 375px; 
    }

    .header__desc {
        font-size: 12px;
        line-height: 14.63px;
    }

    .header .intro__pic {
        margin: 26px 0;
        width: 352px;
        height: 202px;
    }

    .main {
        flex-direction: column;
    }

    .main .ingredients {
        width: 100%;
    }

    .main .main__icons {
        width: 100%;
        padding: 0;
        margin-top: 0;
        display: grid;
        grid-template-areas: 'yield yield yield'
                            'prep cook total';
    }

    .main__icons .icon:first-child {
        grid-area: yield;
    }

    .main__icons .icon:nth-child(2) {
        grid-area: prep;
    }

    .main__icons .icon:nth-child(3) {
        grid-area: cook;
    }

    .main__icons .icon:last-child {
        grid-area: total;
        margin-bottom: 35px;
    }

    i {
        font-size: 20px;
    }

    .tag__one {
        font-size: 8px!important;
    }

    .tag__two {
        font-size: 10px!important;
    }

    .group__box .box {
        margin-right: 8px;
    }

    .group__noms .txt {
        font-size: 16px!important;
    }

    .group__noms .noms {
        margin-right: 15px!important;
    }
}
