@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,500&family=Playfair+Display:ital,wght@0,700;1,400&display=swap');



/* universal selectors */

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* custom properties */
:root {
    /* primary-colors */
    --blck:#000;
    --light-gry:#333;

    /* accent colors */
    --ylw:#f2994a;
}

/* typography */

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 63.98px;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 31.99px;
}

h3 {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    line-height: 23.99px;
    font-weight: 400;
    font-style: italic;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    /* overflow-x: hidden; */
}

.container {
    width: 1440px;
    padding: 46px 237px;
    margin: 0 auto;
}

.header__text {
    display: flex;
    align-items: start;
    margin-top: 12px;
}

.header__text img {
    padding-top: 5px;
    padding-right: 10px;
}

.header__desc {
    font-family: 'Montserrat', sans-serif;
    width: 592px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17.07px;
    font-style: italic;
}

.header .intro__pic {
    margin: 43px 0 48px;
}

.main {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.ingredients {
    width: 60%;
}

.sub-title {
    margin-bottom: 32px;
}

.sub--title {
    margin-bottom: 32px;
}

.mid {
    margin-top: 31px;
}

.box {
    width: 21px;
    height: 21px;
    outline: none;
    border: 1px solid #828282;
    border-radius: 4px;
    margin-right: 17px;
    padding: 10px;
}

.group__box {
    display: flex;
}

.txt {
    line-height: 25px;
    font-weight: 400;
    font-size: 16px;
}

.one .group__box:not(:first-child),
.two .group__box {
    margin-bottom: 13px;
}

.noms {
    display: flex;
    align-content: center;
    text-align: center;
    padding: 2px 13px 6px;
    border: 0;
    outline: none;
    background: var(--ylw);
    height: 36px;
    width: 36px;
    color: #fff;
    font-size: 24px;
    /* line-height: 32px; */
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    border-radius: 6px;
    margin-right: 17px;
}


.group__noms {
    display: flex;
}

.three .group__noms:not(:first-child) {
    margin-top: 40px;
}

.main__icons {
    width: 30%;
    padding: 43px;
    margin-top: 20px;
    /* display: flex;
    flex-direction: column; */
}

.icon {
    display: flex;
}

.main__icons .icon:not(:last-child) {
    margin-bottom: 35px;
}

i {
    font-size: 30px;
    font-weight: 400;
    margin-right: 10px;
}

.fas {
    color: var(--ylw);
}

.far {
    color: #4f4f4f;
}

.yellow {
    color: var(--ylw)!important;
}

.tag__one {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 12.19px;
    color: #bdbdbd;
}

.tag__two {
    font-size: 14px;
    line-height: 17.07px;
    font-weight: 500;
    color: #333;
}
